{% extends "base.html" %}
{% load bootstrap4 %}
{% block content %}
{% load i18n %}
<div class="container wrapper flex-grow-1">
    <h1>{% translate "Register" %}</h1>
{% if form.subject.errors %}

<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<form method="post" action="{% url 'user_create' %}">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% translate "Register" %}</button>
</form>

{% endblock %}
</div>
