{% extends "base.html" %}
{% block content %}
{% load i18n %}
<div class="container wrapper flex-grow-1">
    <h1>{% translate "Создать статус" %}</h1>
{% if form.subject.errors %}

<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form  class="form-group" action="{% url 'status_create' %}" method="post">
    {% csrf_token %}
    <table border="1">
    {{ form }}
    </table>
    <input type="submit" value="Создать">
</form>
</div>
{% endblock %}
