{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% if form.subject.errors %}
<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<h1>{% translate "Удаление задачи" %}</h1>
<div>Вы уверены, что хотите удалить задачу {{ task.name }}?</div>
<form action="{% url 'task_delete' id=task.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger"  type="submit" value="Удалить">
</form>
{% endblock %}
