{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% if form.subject.errors %}
<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<h1>{% translate "Delete user" %}</h1>
<div>Вы уверены, что хотите удалить пользователя {{ user.first_name }} {{ user.last_name }}?</div>
<form action="{% url 'user_delete' id=user.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger"  type="submit" value="Да, удалить">
</form>
{% endblock %}
