{% extends "base.html" %}
{% block content %}
{% load i18n %}
{% if form.subject.errors %}
<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<h1>{% translate "Delete status" %}</h1>
<div>Вы уверены, что хотите удалить {{ status.name }}?</div>
<form action="{% url 'status_delete' id=status.id %}" method="post">
    {% csrf_token %}
    <input class="btn btn-danger" type="submit" value="Да, удалить">
</form>
{% endblock %}
