{% extends "base.html" %}
{% block content %}
<h1>Статусы</h1>
<p><a href="{% url 'status_create' %}">Создать статус</a></p>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
    <form method="get">
        {{ filter.form.as_p }}
        <input type="submit" />
    </form>
    {% for status in filter.qs %}
      <tr>
        <td>{{ status.id }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at }}</td>
        <td>
          <form action="{% url 'status_update' id=status.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Изменить">
          </form>
          <form action="{% url 'status_delete' id=status.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Удалить">
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
</table>
  </div>
{% endblock %}