{% extends "base.html" %}
{% block content %}
{% load i18n %}
<h1>{% translate "Задачи" %}</h1>
<p><a href="{% url 'task_create' %}">{% translate "Создать задачу" %}</a></p>
<div class="table-responsive">
    <form method="get">
      {{ filter.form.as_p }}
      <input type="submit" value="Показать"/>
    </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% translate "ID" %}</th>
        <th>{% translate "Имя" %}</th>
        <th>{% translate "Статус" %}</th>
        <th>{% translate "Автор" %}</th>
        <th>{% translate "Исполнитель" %}</th>
        <th>{% translate "Дата создания" %}</th>
      </tr>
    </thead>
    <tbody>
    {% for task in filter.qs %}
      <tr>
        <td>{{ task.id }}</td>
        <td><a href="{% url 'task_details' id=task.id %}">{{ task.name }}</a></td>
        <td>{{ task.status }}</td>
        <td>{{ task.author }}</td>
        <td>{{ task.assigned_to }}</td>
        <td>{{ task.created_at|date:"d.m.Y H:i" }}</td>
        <td>
          <form action="{% url 'task_update' id=task.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Изменить">
          </form>
          <form action="{% url 'task_delete' id=task.id %}" method="get">
          {% csrf_token %}
          <input type="submit" value="Удалить">
          </form>
        </td>
      </tr>
      {% endfor %}
      </tbody>
</table>
  </div>
{% endblock %}