{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
{% load i18n %}
<div class="container wrapper flex-grow-1">
    <h1>{% translate "Update task" %}</h1>
{% if form.subject.errors %}

<div>
    <ul>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ul>
</div>
{% endif %}
<form  class="form-group" action="{% url 'task_update' pk=task.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">{% translate "Change data" %}</button>
</form>
</div>
{% endblock %}
